* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #F8D729;
}
figure{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    vertical-align: top;
}
.container{
    background-color:#ffffff;
    width: 80%;
    margin: auto;
}
.flex{
    display: flex;
}

/* ============================================= */
                    /* HEADER */
/* ================================================= */

header{
    background-color: #0097F6; 
}
header h2{
    margin: 0;
    padding: 0;
    color: hsla(0, 0%, 100%, 0.918);
    text-align: center;
    padding: 16px 0;
    font-size: 30px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header figure{
    height: 80vh;
    overflow: hidden;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
}
header nav{
    width: 800px;
    padding: 5px 0;
    justify-content: space-around;
    margin: auto;
}
header nav a{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-decoration: none;
    transition: ease 0.3s;
    padding: 20px;
}
header nav a:hover {
    color: #0097F6 ;
    background-color:white ;
}

/* ======================================= */
/* ================ Main ================= */
/* ======================================= */

main{
    border-top: hsla(0, 0%, 0%, 0.376) 2px dashed ;
    padding: 30px;
    position: relative;
}

main article{
    width: 70%;
    margin-right: 30px;
}


main h2{
    color: #F8D729;
    font-size: 35px;
}
main p{
    text-align: justify;
    font-size: 25px;
}


main article figure{
   border: 1px solid black; 
   margin: 5px;
   width: 350px;
   height: 370px;
   overflow: hidden;
}

main aside{
    width: 25%;
    background-color: #0097F6;
    color: white;
    flex-direction: column;
    height: 740px;
    position: absolute;
    right: 40px;
    bottom: 25px;
    padding-top: 1rem;
}
main aside figure {
    width: 300px ;
    margin: auto;
    
    border: white 1px solid;
}
main aside figcaption{
    text-align: center;
}
main aside figcaption h3{
    margin: 0;
    font-size: 25px;
}
main aside figcaption h5{
    font-size: 15px;
    margin: 1rem;
}
main aside p{
    font-size: 20px;
    padding: 0 1rem;
}

/* ================================= */
/* ============ FOOTER ============= */
/* ================================= */

footer{
    background-color: hsl(244, 78%, 34%);
    color: white;
    text-align: center;
    padding: 1rem 0;
}





/* =========================================================== */
            /* TABLETTE */
/* =========================================================== */

@media screen and (max-width: 1281px) {


    .container{
        width: 98%;
    }
    header figure {
        height: auto;
    }
    main{
        flex-direction: column;
        position: static;
    }
    main article{
        width: 100%;
    }
    main article .mosaique{
        width: 90%;
        margin: auto;
    }
    main article figure {
        width: 100%;
        height: auto;
    }
    main aside{
        position: static;
        width: 90%;
        height: 500px;
        margin: auto;
        flex-direction: row;
        align-items: center;
    }
    main aside figure{
        margin: 1rem 2rem;
    }
    main aside p{
        padding: 0 8rem;
    }
}
/* =========================================================== */
               /* TELEPHONE */
/* =========================================================== */


@media screen and (max-width: 768px) {

    .container{
        width: 100%;
        }

    header nav{
        width: 600px;
    }
    header nav a{
        font-size: 16px;
    }
    main aside {
        flex-direction: column;
        height: auto;
    }
}